
.model-transformer {
    top: 10px;
    right: 10px;
    width: 242px;
    height: 275px;
    resize: none;
}

.model-transformer .container {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 10px;
    padding: 0;
}

.model-transformer .lmv-dropdown .btn {
    background-color: #E7E7E7;
    width: calc(100% - 25px);
}

.model-transformer .lmv-dropdown .label {
    color: black;
}

.model-transformer .lmv-dropdown .caret{
    border-top:4px solid black;
}

.model-transformer .input.numeric {
    width: 65px;
    border-radius: 4px;
}

.model-transformer .v-spacer {
    border-width: 0px;
    margin: 2px;
}

.model-transformer .v-spacer-large {
    border-width: 0px;
    margin: 12px;
}

.model-transformer .text-span {
    color: white;
}

.model-transformer .btn-apply {
    width: calc(100% - 26px);
}