
body{
    margin:0;
}

.viewer {
    position: relative;
    height: calc(100vh - 65px)
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 65px;
    padding-top: 0;
}

.navbar-default {
    border-color: #F5C70A;
    border-bottom-width: 3px;
}

.forge-logo {
    position: relative;
    top: 2px;
}
