
body{
    margin:0;
}

.viewer {
    position: relative;
    height: calc(100vh - 65px)
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 65px;
    padding-top: 0;
}
